*{
    font-family: 'Roboto', sans-serif; 
}
/*  Header */

header{
height:80px;
}
.navegador {
    padding: 1%;
    background-color:blue;
}
.text-intro{
        color: black;
        font-size: 3em;
        padding: 20%;
        text-align: center;
}

/* Hero*/

.barra-blue {
    height: 4em;
    background-color: blue;
}
.funcionamiento {
    text-align:center;
}
.content-port{
    padding:10% 10% 10% 1%;
}

.content-port a{
    text-decoration: none;
    display:block;
    padding:1%;
}

/* Registro */
.texto-superior{
    padding: 1.5% 1.5% 0 1.5%;
}
.texto-princ{
    font-size: 1.5em;
    padding:2%;
}

form label {
    padding:5% 0 1% 0;
    font-size:0.8em;
}
.border input {
    border-radius: 0;
    height: 4em;

}
/*  Footer  */
footer{
    padding: 10px 0;
    border-top: 1px #dedede solid;
    background: #f7f7f7;
    text-align: center;
}

footer .rights{
    color: #3b3b3b;
    font-size: 14px;
    margin-top: 30px;
    line-height: 25px;
}

footer .rights a{
    text-decoration: none;
    font-weight: bold;
    color: #2D2D5E;
}

footer a{
    color: #2D2D5E;
}
footer img{
    max-width: 10%;
}
