*{
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
    margin:0;
    color:#2A505D;
}
/*  Header */

header{
height:80px;
}
.navegador {
    padding: 1%;
    background-color:#2A505D;
}
.text-intro{
        color: black;
        font-size: 3em;
        padding: 20%;
        text-align: center;
}

/* Hero*/

.barra-blue {
    height: 4em;
    background-color:#2A505D;
}
.funcionamiento {
    text-align:center;
}
.content-port{
    padding:10% 10% 10% 1%;
}

.content-port a{
    text-decoration: none;
    display:block;
    padding:1%;
}

/* Registro */
.texto-superior{
    padding: 3em 2em 0 2em;
}
.texto-princ{
    font-size: 1.5em;
    padding:1.5em;
}

.first-label label {
    padding:6% 0 1% 0;
    font-size:0.8em;
}
.border input {
    border-radius: 0;
    height: 4em;
}
.text-form{
    font-size: 0.7em;
    padding-top:1%;
}

.espaciado .day {
    width: 9em;
    margin-right:2em;
}
.espaciado .month{
    width:17em;
}
.espaciado .year {
    width: 9em;
    margin-left:2em;
}
.formulario input{
    width:30px;
    background-color:white;
}
.formulario .label {
    color:#2A505D;
    position:relative;
    bottom:2.5em;
    padding-left:2.5em;
}

/*
.formulario label:before {
    content:"";
    width:2.2em;
    height:2.2em;
    display:inline-block;
    background:none;
    border: 1.5px solid gray;
    border-radius:60%;
    position:absolute;
    left:1.5em;

}*/
.checkbox{
    padding:5%;
}
.button-register{
    padding:1.7em;
    width:20em;
    border:none;
    color:white;
    background-color:#2A505D;
    margin-bottom:10em;
}
/* Acceso*/
.acceso{
    text-align:center;
    padding:4em 0;
    font-size:1.5em;
}
.acceso input{
    margin-top:3em;
}
.button-access{
    width:100%;
    background-color:#2A505D;
    color:white;
    border:none;
    padding:0.8em;
    margin-top:2em;
    font-size:20px;
}

.form-access p{
    margin-top:2em;
}

.hover-access:hover{
    color:gray;
}




 /*  Footer  */

}
footer{
    padding: 10px 0;
    border-top: 1px #dedede solid;
    background: #f7f7f7;
    text-align: center;
}

footer .rights{
    color: #3b3b3b;
    font-size: 14px;
    margin-top: 30px;
    line-height: 25px;
}

footer .rights a{
    text-decoration: none;
    font-weight: bold;
    color: #2D2D5E;
}

footer a{
    color: #2D2D5E;
}
footer img{
    max-width: 10%;
}
